html, body {
	height: 100%;
	background-color: gray;
}
#wrapper {
	margin: 0 auto;
	width: 85%;
	height: 90%;
	border-radius: 5px;
	background-color: #fff;
}
#header {
	text-align: center;
}
#slider {
	margin: 15px auto;
	width: 95%;
	height: 85%;
	overflow: hidden;
}
#slider .body {
	position: relative;
	/*width: 200%;*/
	height: 100%;
	min-height: 350px;
}
#slider .body img {
	position: absolute;
	top: 0;
	height: 100%;
	/*left: 0;*/
	/*width: 50%;*/
}